/* N.B. desktop first, mobile breakpoints are further down the sheet.
Everything up here is >1100px max-width */

/* Hashtags
#test - any test stuff that needs removing later
#weird - any weird stuff I don't understand but don't have time to look up/doesn't matter
*/


/* -------------------------
Basic element customisations - body, font faces, paragraph layout etc
------------------------- */

body {
  background: url(../images/background.jpg) #ffeac7 no-repeat 0% 0%/100%;
  font-family: "Verdana", sans-serif;
  font-size: 1.6rem;
}

h1,h2,h3,h4 {
  font-family: "Georgia", serif;
  font-weight: 100;
  margin: 0;
  padding: 1.5rem;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}

h1,h2,h3.title {                                                /* title at top of all content pages */
  padding: 1em 0 1.5em 0;
  text-align: center;
}
h3.contents {
  padding: 1.5em 0 0 0;
}

img {
  margin: 0;
  padding: 2rem;
}
img.200 {
  width: 200px;
}
img.fluid {
  max-width: 90%;
}
img.left {
  float: left;
}
img.right {
  float: right;
}

p {
  margin: 0;
  padding: 1.5rem;
}
p.backtotop {
  font-weight: bolder;
  padding: 2em 0 2em 0;
  text-align: center;
}

table {
  font-size: 1.6rem;
}

ul.nostyle {                                             /* removes styling from lists as needed */
  list-style: none;
  margin-left: 1.5rem;
}

ul.contents {
  list-style: none;
  margin: 20px auto;
  text-align: center;
  width: 70%;
}

ul.sitemap {
  margin: 20px auto;
  width: 70%;
}

/* -------------------------
IDs and classes
------------------------- */

#content {
  background: #fff;
  padding: 6em 2em 2em 2em;
}
#content p {                                            /* better margins for text on desktop */
  width: 60%;
  margin: 0 auto;
}
#content ul {
  width: 60%;
  margin: 0 auto;
}

#header {
  height: 373px;
  position: relative;                                  /* allows for positioning of header-title below */
}
  #header-title-container {                            /* allows for centring of header-title despite absolute positioning */
    width: 830px;                                      /* for some reason this scales for mobile without having to add breakpoints with smaller pixel values below, could be due to Skeleton? #weird I think it's because of text-align center below, when you add background colour this element behaves as I'd expect, not centred at all */
    margin: 0 auto;
  }
  #header-title {
    font-size: 6rem;
    padding: 0;
    margin-top: 100px;
    position: absolute;
    bottom: 0;                                        /* aligns along bottom to line up with tagline text and navigation */
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  }
  #header-logo {
    background: url(../images/logo.png) no-repeat center/263px;
    height: 171px;
    position: absolute;                               /* aligns well until first breakpoint, then needs fixing, see below! */
    top: 100px;
    left: 300px;
    width: 263px;
  }



#footer {
  background: #233341;
  color: #fff;
  font-size: 0.75em;
  text-align: center;
}
#footer a:link {
  color: #fff;
}
#footer a:visited {
  color: #fff;
}
#footer ul li {
  border-right: #fff solid 1px;                           /* adds the line effect to right of each link in footer */
  display: inline-block;                                  /* displays everything horizontal instead of vertical */
  margin-right: 20px;
  padding-right: 20px;
}
#footer ul li:last-child {
  border-right: 0;                                        /* stops border on last link */
  margin-right: 0;
}

/* Navigation IDs */

  #nav {
    color: #fff;
    font-size: 1.75rem;
    height: 113px;
    text-align: center;
    width: 100%;          /* helps with centring */
  }
    #nav p {
      font-size: 1.5rem;
    }

    #nav .centre {
      display: inline-block;                                  /* somehow causes nav to centre */
      *display: inline;                                       /* IE7 */
      *zoom: 1;
      width: 95%;
    }

    /* taglines for phone number, email and mobile, scaling etc, appear within nav area hence why they're here */
    #tagline-phone p {
      font-family: "Trebuchet MS", sans-serif;
      font-size: 2.5rem;
      margin: 0;
      padding: 0;
    }
    #tagline-email p {
      font-family: "Trebuchet MS", sans-serif;
      font-size: 1.75rem;
      margin: 0;
      padding: 0;
      wo
    }
    #tagline-phone-mobile p {
      font-family: "Trebuchet MS", sans-serif;
      font-size: 2.5rem;
      margin: 0;
      padding: 0;
    }

    /*#nav #left {                                             /* aligns tagline text under header to the left and sizes
                                                              down so it doesn't wrap too much on max res
      margin-bottom: 0;
      margin-left: 20px;
      padding: 0;
      text-align: left;
    }
    #nav #right {                                            /* similar but for right hand address text
      margin-bottom: 0;
      margin-right: 20px;
      padding: 0;
      text-align: right;
    }*/

    #navbuttons {                                             /* container for nav buttons */
      position: relative;
    }
      #navbuttons-aligner {                                   /* helps to centre absolutely positioned buttons below, when resized in breakpoints for smaller resolutions. Stops them from just sitting off-centre at in-between window sizes or resolutions! */
        margin: 20px auto 0 auto;
        position: relative;
        width: 880px;
      }

      #home {                                                   /* box for home text in navigation box */
        position: absolute;
        top: 20px;
        left: 0;
        background: url(../images/nav-blue.png) no-repeat 0 0;
        width: 131px;
        height: 65px;
        z-index: 90;
      }
      #about {
        position: absolute;
        top: 10px;
        left: 129px;
        background: url(../images/nav-green.png) no-repeat 0 0;
        width: 131px;
        height: 65px;
        z-index: 100;
      }
      #dates {
        position: absolute;
        top: 40px;
        left: 262px;
        background: url(../images/nav-yellow.png) no-repeat 0 0;
        width: 131px;
        height: 65px;
        z-index: 100;
      }
      #child {
        position: absolute;
        top: 0px;
        left: 390px;
        background: url(../images/nav-blue-big.png) no-repeat 0 0;
        width: 229px;
        height: 65px;
        z-index: 100;
      }
      #contact {
        position: absolute;
        top: 10px;
        left: 615px;
        background: url(../images/nav-yellow.png) no-repeat 0 0;
        width: 131px;
        height: 65px;
        z-index: 100;
      }
      #facebook {
        position: absolute;
        top: 0px;
        left: 744px;
        background: url(../images/nav-purple.png) no-repeat 0 0;
        width: 131px;
        height: 65px;
        z-index: 100;
      }

/* Nav IDs end */

#table {                                                  /* table on contacts page etc */
  margin: 0 auto;
  table-layout: fixed;
  width: 75%;
}
#table td {
  word-wrap: break-word;
}
#tableBig {                                               /* tables with more columns */
  margin: 0 auto;
  table-layout: fixed;
  width: 90%;
}

#top {                                                    /* navigation links at top of each page */
  color: #fff;
  font-size: 1.75rem;
  text-align: right;
  width: 100%;                                            /* helps with centring navigation */
}
#top img {
  margin: 0;
  padding: 0;
}
#top ul {
  margin: 20px 0 0 0;                                       /* removes margin so aligns with bottom of box better
                                                          - keeps margin on top to space from other text*/
}

#top ul li {
  display: inline-block;                                /* wraps with viewport size */
  font-size: 1.5rem;
  margin-right: 20px;                                   /* spacing for list items when horizontal */
  text-align:left;
  *display:inline;/* IE7 */
  *zoom:1;

}
#top ul li:last-child {
  margin-right: 0;                                        /* prevents margin from throwing off last list item */
}

.centre-600 {                                             /* centres images with 600px width */
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
}

.left {
  float: left;
}
.right {
  float: right;
}







/* -------------------------
Breakpoints for smaller screen sizes
------------------------- */

@media screen and (max-width: 1100px) {

  #content {
    margin-top: 30px;
    padding-top: 12em;
  }
  #content p {
    width: 90%;               /* reduces extent of margins on paragraph text for smaller resolutions */
  }

  #header-logo {
    top: 50px;
    left: 200px;
  }

  #navbuttons {
    margin-bottom: 20px;
  }
  #navbuttons-aligner {
    width: 630px;
  }

  #contact {
    top: 120px;
    left: 210px;
    z-index: 100;
  }
  #facebook {
    top: 110px;
    left: 338px;
    z-index: 100;
  }
}

@media screen and (max-width: 750px) {

  body {
    background-size: 1050px;
    background-position: 40% top;
    font-size: 1.4rem;
  }

  #content {
    padding-top: 16em;
  }

  #header {                                               /* resize header for tablet */
    height: 277px;
  }
    #header-title {
      font-size: 4.5rem;
    }
    #header-logo {
      top: 0px;
      left: 100px;
    }

  #nav ul {
    margin-top: 20px;
  }
    #navbuttons-aligner {
      width: 400px;
    }
      #about {
        left: 127px;
      }
      #dates {
        top: 30px;
        left: 255px;
      }
      #child {
        top: 100px;
        left: 20px;
        z-index: 100;
      }
      #contact {
        top: 120px;
        left: 245px;
        z-index: 100;
      }
      #facebook {
        top: 170px;
        left: 120px;
        z-index: 100;
      }
}

@media screen and (max-width: 600px) {

  #header-title {
    font-size: 3.5rem;
  }
  #header-logo {
    background-size: 213px;
    height: 131px;
    top: 50px;
    left: 100px;
    width: 213px;
  }

  #nav p {
    font-size: 1.2rem;
  }

    #tagline-phone p {
      font-size: 2.5rem;
    }
    #tagline-email p {
      font-size: 1.75rem;
    }
    #tagline-phone-mobile p {
      font-size: 2.5rem;
    }



  #top ul li {
    display: block;                                         /* vertical list on mobile, changed to horizontal below */
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {

  body {
    background-size: 900px;
    background-position: 20% top;
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2rem;
  }

  table {
    font-size: 1.4rem;
  }

  #content {
    margin-top: 10px;
    padding-top: 18em;
  }

  #header {                                                 /* header image background etc - set for mobile */
    height: 197px;
  }
  #header-logo {
    background-size: 183px;
    height: 121px;
    top: 0;
    left: 70px;
    width: 183px;
  }
  #header-title {
    font-size: 3.2rem;
  }

  #nav {
    margin-top: 20px;
  }

    #tagline-phone p {
      font-size: 2rem;
    }
    #tagline-email p {
      font-size: 1.5rem;
    }
    #tagline-phone-mobile p {
      font-size: 2rem;
    }

    #navbuttons {
      margin-bottom: 40px;
    }
      #navbuttons-aligner {
        width: 280px;
      }
        #about {
          left: 127px;
        }
        #dates {
          top: 80px;
          left: 75px;
        }
        #child {
          top: 145px;
          left: 20px;
          z-index: 100;
        }
        #contact {
          top: 210px;
          left: 0;
          z-index: 100;
        }
        #facebook {
          top: 205px;
          left: 140px;
          z-index: 100;
        }

  #tableBig {                                                  /* tables with more columns, needs smaller font */
    font-size: 1.2rem;
  }

  .left {
    float: none;                                            /* just because floating doesn't work on mobile,
                                                            same below */
  }

  .right {
    float: none;
  }
}
