<perch:help>
  <p><strong>Instructions:</strong></p>

  <p>To change the image to an image that is already used on one of the pages currently:<br />
    <span style="padding-left: 20px">- Click "Select or upload an image"<br />
    <span style="padding-left: 20px">- Click the image that you want in the "Select an Asset" section that appears<br />
    <span style="padding-left: 20px">- Click "Use Selected" in the top right of the "Select an Asset" section<br />
  To change the image to a new image that you want to upload:<br />
    <span style="padding-left: 20px">- Click "Select or upload an image"<br />
    <span style="padding-left: 20px">- Click the "+Add Asset" button in the top right, and then either drop an image file into the indicated box area or click the box area to select the image file from your computer.<br />
    <span style="padding-left: 20px">- Click the image that you just added, now in a little box in the "Select an Asset" area<br />
    <span style="padding-left: 20px">- Click "Use Selected" in the top right of the "Select an Asset" section ("Use Selected" should be highlighted green if you've correctly clicked an image to be used, if not just try clicking again or "Use Selected" won't do anything)<br /><br />

    <strong>N.B. if you enter the "Select an Asset" area by accident and want to go back</strong>, click the grey (X) icon in the far top right of the screen.<br />
  </p>
</perch:help>
<img src="<perch:content type="image" id="image" label="Image" width="800" quality="65" />" alt="<perch:content type="text" id="alt" label="Description" required="true" help="e.g. Photo of MD John Smith with his best wig on" title="true" />" class="<perch:content type="select" id="classes" label="Class" options="fluid" help="DO NOT TOUCH ;)" allowempty="false" />" />
