<perch:help>

<p>This link will need to change if accreditation document changes.</p>

<p>Upload the file to Assets first, and then link to it here. You need to put in the actual filename as you originally had it on your hard drive, as that will be what is saved to Perch. For instance:<br /><br />
  Accreditation New 2017.pdf<br /><br />
  This is a full file name along with the file extension (.doc, .pdf, whatever file type it is).<br />
  If you're not sure of the file type, just try different extensions until the link works when you click it on the site - the file should be either .docx, .doc or .pdf! You can also go to Assets and set the View to list to see different file types. (Just click where it says View near top of Assets area to switch between grid and list views).</p>

</perch:help>

<perch:content id="text" type="text" label="Text" required="true" title="true" />
