<IfModule mod_rewrite.c>

RewriteEngine on  # Turns rewrite engine on for doing below URL redirects

# All below rules rewrite requests for PHP files to directories, or rather make links to directories go to corresponding php files. Fake directories!
# Note that these are totally case sensitive - going to about/method results in broken directory links (no style etc) where as about/method/ has everything correct

RewriteRule ^about/?$ about.php [NC,L]                                    # Handle requests for "About Us"
RewriteRule ^about/team/?$ about-team.php [NC,L]                          # Handle requests for "Our Team"
RewriteRule ^about/method/?$ about-method.php [NC,L]                      # Handle requests for "Montessori Method"
RewriteRule ^about/method/learning/?$ about-method-extra.php [NC,L]       # Handle requests for "Montessori Method" extra page
RewriteRule ^about/history/?$ about-history.php [NC,L]                    # Handle requests for "History of Montessori and Our Pre-school"
RewriteRule ^about/policies/?$ about-policies.php [NC,L]                  # Handle requests for "Our Policies"
RewriteRule ^contact/?$ contact.php [NC,L]                                # Handle requests for "Contact Us"
RewriteRule ^datesandfees/?$ datesandfees.php [NC,L]                      # Handle requests for "Dates & Fees"
RewriteRule ^mymontessorichild/?$ mymontessori.php [NC,L]                 # Handle requests for "My Montessori Child"
RewriteRule ^sitemap/?$ sitemap.php [NC,L]                                # Handle requests for "Sitemap"

# From https://www.addedbytes.com/articles/for-beginners/url-rewriting-for-beginners/ changed "pet-care" to whatever I need for my site

# Example from Perch that doesn't seem to work

# Redirect to PHP if it exists.
# e.g. example.com/foo will display the contents of example.com/foo.php
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^(.+)$ $1.php [L,QSA]

</IfModule>
